{% extends "menu/base.html" %}

{% block title %} Iniciar Sesion {% endblock %}

{% block content %}
<div class="container mt-5"> 
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center"> 
            <div>
                <h1 class="text-center text-warning"><span class="text-dark">Restaurante</span> El buen Sabor</h1>
                <hr>
                <div id="forms-container">
                    <!-- Formulario de inicio de sesión -->
                    <form id="loginForm" class="border border-light p-5" method="post">
                        {% csrf_token %}
                        <p class="h4 mb-4">Iniciar Sesión</p>
                        <input type="email" name="email" class="form-control mb-4" placeholder="Correo Electrónico">
                        <input type="password" name="password" class="form-control mb-4" placeholder="Contraseña">
                        <button class="btn btn-warning text-white btn-block my-4" type="submit">Iniciar Sesión</button>
                        <p class="mt-2 text-center">
                            ¿No tienes una cuenta? <a href="/registro/registro" class="text-warning">Regístrate</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div> 

{% endblock %}
