{% extends 'menu/base.html' %}

{% block title %} Lista de Clientes {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-warning mb-4">Lista de Clientes y Pedidos</h1>
    <div class="row">
        {% for usuario in usuarios %}
        {% if usuario.tipo_usuario == 'cliente' %}
        <div class="col-md-6">
            <div class="card mb-4" style="font-size: 14px; margin: 10px;">
                <div class="card-header bg-warning" style="padding: 8px;">
                    <h5 class="card-title text-white text-center" style="margin: 0;">{{ usuario.nombre }}</h5>
                </div>
                <div class="card-body" style="padding: 10px;">
                    {% if usuario.pedido_set.all %}
                    {% for pedido in usuario.pedido_set.all %}
                    <div class="card mb-3" style="font-size: 12px; margin: 8px;">
                        <div class="card-header" style="padding: 5px;">
                            <h6 class="card-title" style="margin: 0;">Pedido</h6>
                        </div>
                        <div class="card-body" style="padding: 8px;">
                            <p class="card-text" style="margin: 0;">Fecha: {{ pedido.created_at }}</p>
                            <p class="card-text" style="margin: 0;">Precio Total: ${{ pedido.precio_total }}</p>
                            {% if pedido.estado == 'pendiente' %}
                            <a href="{% url 'confirmar_pedido' pedido.id %}"
                                class="btn btn-warning btn-sm text-white">Confirmar Pedido</a>
                            {% else %}
                            <p class="card-text" style="margin: 0;">Estado: {{ pedido.estado }}</p>
                            {% endif %}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for detalle in pedido.detallepedido_set.all %}
                            <li class="list-group-item" style="padding: 4px;">
                                <p style="margin: 0;">{{ detalle.menu.nombre }} - Cantidad: {{ detalle.cantidad }} -
                                    Subtotal: ${{ detalle.subtotal }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="card-text text-muted" style="margin: 0;">No tiene pedidos.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- Paginación -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if usuarios.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Primera</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ usuarios.previous_page_number }}">Anterior</a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}</span>
                </li>

                {% if usuarios.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ usuarios.next_page_number }}">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ usuarios.paginator.num_pages }}">Última &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}






