
{% extends "menu/base.html" %}

{% block title %} Gestion de Restaurante {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <h3 class="text-warning">Añadir un nuevo Menu</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nombre.id_for_label }}">Nombre del Menu</label>
                {{ form.nombre }}
            </div>
            <div class="form-group">
                <label for="{{ form.precio.id_for_label }}">Precio</label>
                {{ form.precio }}
            </div>
            <div class="form-group">
                <label for="{{ form.categoria.id_for_label }}">Categoria</label>
                {{ form.categoria }}
            </div>
            <div class="form-group">
                <label for="{{ form.imagen.field.id_for_label }}">Añadir Imagen</label>
                <div class="input-group">
                    {{ form.imagen }}
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-warning">Guardar Menu</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h2 class="text-warning">Menús existentes</h2>
        <div class="row row-cols-1 row-cols-md-2 g-3">
            {% for menu in menus %}
            <div class="col-md-4">
                <div class="card card-sm">
                    <img src="{{ menu.imagen.url }}" class="card-img-top card-image" alt="{{ menu.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ menu.nombre }}</h5>
                        <p class="card-text"><span class="text-warning text-decoration-underline">Precio</span> {{ menu.precio }}</p>
                        <p class="card-text"><span class="text-warning text-decoration-underline">Categoría</span> {{ menu.categoria.nombre }}</p>
                    </div>
                    <div class="card-footer"> <!-- Agrega un div para agrupar los botones -->
                        <a href="/menu/eliminar/{{menu.id}}" class="btn btn-warning text-white">Eliminar</a>
                        <a href="/menu/editar_menu/{{menu.id}}" class="btn btn-warning text-white">Editar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 
{% endblock %}